.cf-common-view-container .operation {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cf-common-view-container .buttons > * {
  margin-left: 8px;
}
.cf-common-view-container .buttons > *:first-child {
  margin-left: 0;
}
.cf-common-view-container .filter-container {
  display: none;
  margin: 16px 0;
  border: solid #77d0ea 1px;
  border-radius: 5px;
  overflow: hidden;
}
.cf-common-view-container .filter-container .content {
  display: block;
  padding-bottom: 16px;
}
.cf-common-view-container .filter-container.active {
  display: block;
}
.cf-common-form-drawer .ant-drawer-wrapper-body {
  display: flex;
  flex-direction: column;
}
.cf-common-form-drawer .ant-drawer-body {
  flex: 1;
  overflow: auto;
}
.cf-common-form-drawer .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  border-top: solid #ddd 1px;
  justify-content: space-between;
}
.cf-common-form-drawer .footer-placeholder {
  height: 10px;
}
.cf-common-form-container .form-item .input {
  width: 100% !important;
}
.cf-common-form-container .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: white;
  z-index: 1;
}
.cf-common-form-container .footer .left-buttons > *,
.cf-common-form-container .footer .right-buttons > * {
  margin-left: 8px;
}
.cf-common-form-container .footer .left-buttons > *:first-child,
.cf-common-form-container .footer .right-buttons > *:first-child {
  margin-left: 0;
}
.cf-common-form-container .footer-placeholder {
  height: 0;
}
